<div class="container">
    <div class="jumbotron">
      <h1>Caso de estudo</h1>
      <p>Estudo dos processos de desenvolvimento da empresa Rech Informática Ltda.</p>
      <p>Análise de estatísticas de desenvolvimento, como número de implementações e incidentes produzidos, e a correlação com tempos de revisão, validação e testes das alterações no sistema com o número de incidentes gerados.</p>
      <p>Dados obtidos do sistema de CRM interno (SICLA), com dados desde 2007</p>
    </div>
    <div class="jumbotron">
      <h1>Objetivo</h1>
      <p>Permitir reduzir o tempo gasto para correções de incidentes no sistema, permitindo foco do trabalho em implementações de novos recursos e módulos</p>

    </div>
    <div class="jumbotron">
      <h1>Métricas</h1>
      <span class="glyphicon glyphicon-chevron-up"></span> Tempo total usado para novas implementações<br />
      <span class="glyphicon glyphicon-chevron-down"></span> Tempo total usado para correção de incidentes<br />
      <span class="glyphicon glyphicon-chevron-up"></span> Número de implementações completadas<br />
      <span class="glyphicon glyphicon-chevron-down"></span> Número de incidentes corrigidos<br />
      <span class="glyphicon glyphicon-chevron-down"></span> Número de incidentes abertos<br />
    </div>
    <div class="jumbotron">
      <h1>Cenários</h1>
      <p>O foco para alcançar os objetivos descritos é entrar a "razão dourada" do tempo gasto com revisão, validação e teste de alterações: Alto o suficiente para reduzir a quantidade de incidentes abertos, e baixo o suficiente para que não gastemos mais tempo revisando do que gastaríamos corrigindo os incidentes</p>
    </div>
</div>