<div class="row">
    <div class="col-sm-4">
        <div class="chart-wrapper">
            <div class="chart-title">
                Configuração de visão
            </div>
            <div class="chart-stage">
                <center>
                    <datepicker ng-model="periodo" show-weeks="true" class="well well-sm" min-mode="month" datepicker-mode="'month'"></datepicker>
                    <br>
                </center>
            </div>
            <div class="chart-notes">
                Utilize as configurações acima para alterar a visão de dados
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <app-chart data="incidenciaErros" type="column" title="Horas de desenvolvimento" x-axis="eixo X" y-axis="Horas desenvolv." notes="Horas de desenvolvimento por mês desde 2013"></app-chart>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="chart-wrapper">
            <div class="chart-title">
                Informações
            </div>
            <div class="chart-stage">
                <b>{{totalFichasIncidentes + totalFichasImplementacao}}</b> fichas produzidas<br/>
                <b>{{totalFichasIncidentes}}</b> incidentes<br/>
                <b>{{totalFichasImplementacao}}</b> implementações<br/>
                <b>{{totalHorasIncidentes + totalHorasImplementacao}}</b> horas de desenvolvimento<br/>
                <b>{{totalHorasIncidentes}}</b> horas em incidentes<br/>
                <b>{{totalHorasImplementacao}}</b> horas em implementação<br/>
                <b>{{mediaHorasIncidente}}</b> horas por incidente em média<br/>
                <b>{{mediaHorasImplementacao}}</b> horas por implementação em média<br/>
            </div>
            <div class="chart-notes">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <app-chart data="relacaoRevisaoFichas" type="column" title="Relação fichas x tempo de revisão" x-axis="% de revisão" y-axis="% de fichas" notes="Percentual de fichas que se enquadram na faixa de revisão"></app-chart>
    </div>
    <div class="col-sm-4">
        <app-chart data="relacaoRevisaoIncidentes" type="column" title="Relação tempo gasto com correção x tempo de revisão" x-axis="% de revisão" y-axis="% de correção" notes="Percentual do tempo de produção gasto contra o percentual gasto com revisão"></app-chart>
    </div>
</div>