<div class="row">
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Configuração de visão
            </div>
            <div class="chart-stage">
                <center>
                    <datepicker ng-model="periodo" show-weeks="true" class="well well-sm" min-mode="month" datepicker-mode="'month'"></datepicker>
                    <br>
                </center>
            </div>
            <div class="chart-notes">
                Utilize as configurações acima para alterar a visão de dados
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <app-chart data="incidenciaErros" type="column" title="Timeline de incidentes" x-axis="eixo X" y-axis="Horas desenvolv." notes="Horas de desenvolvimento por mês desde 2012"></app-chart>
    </div>
</div>
<div class="page-header">
    <h1>{{periodoExtenso}}</h1>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="chart-wrapper">
            <div class="chart-title">
                Informações
            </div>
            <div class="chart-stage">
                <b>{{totalFichasIncidentes}}</b> incidentes<br/>
                <b>{{totalFichasImplementacao}}</b> implementações<br/>
                <b>{{totalHoras}}</b> horas de desenvolvimento<br/>
                <b>{{mediaHorasIncidente}}</b> horas por incidente em média<br/>
            </div>
            <div class="chart-notes">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <app-chart data="totalHorasImplementacao" type="solidgauge" min="0" max="3000" title="Horas de implementação" x-axis="eixo X" y-axis="y eixo" notes="Horas em fichas de implementação"></app-chart>
    </div>
    <div class="col-sm-4">
        <app-chart data="totalHorasIncidentes" type="solidgauge" min="0" max="3000" title="Horas de incidentes" x-axis="eixo X" y-axis="y eixo" notes="Horas em fichas de incidentes"></app-chart>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <app-chart data="relacaoRevisaoFichas" type="column" title="Timeline de incidentes" x-axis="% de revisão" y-axis="Incidentes" notes="asdoikqokwleqwk"></app-chart>
    </div>
    <div class="col-sm-6">
        <app-chart data="relacaoRevisaoIncidentes" type="column" title="Timeline de incidentes" x-axis="% de revisão" y-axis="Incidentes" notes="asdoikqokwleqwk"></app-chart>
    </div>
</div>