<div class="row">
    <div class="col-sm-4">
        <div class="chart-wrapper">
            <div class="chart-title">
                Configuração de visão
            </div>
            <div class="chart-stage">
                Seed: <input ng-model="random.seed" />
                <center>
                    <datepicker ng-model="periodo" show-weeks="true" class="well well-sm" min-mode="month" datepicker-mode="'month'"></datepicker>
                    <br>
                </center>
                Pico: <input type="range" min="0" max="10" ng-model="pico" />
            </div>
            <div class="chart-notes">
                Utilize as configurações acima para alterar a visão de dados
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <app-chart data="incidenciaErros" type="column" title="Timeline de incidentes" x-axis="eixo X" y-axis="Horas desenvolv." notes="Horas de desenvolvimento por mês desde 2012"></app-chart>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="chart-wrapper">
            <div class="chart-title">
                Informações
            </div>
            <div class="chart-stage">
                <b></b> fichas produzidas<br/>
                <b></b> incidentes<br/>
                <b></b> implementações<br/>
                <b>{{totalHorasDesenvolvimento}}</b> horas de desenvolvimento<br/>
                <b></b> horas em incidentes<br/>
                <b></b> horas em implementação<br/>
                <b></b> horas por incidente em média<br/>
                <b>{{horasProducaoPorFicha + mediaRevisaoFichas}}</b> horas por implementação em média<br/>
            </div>
            <div class="chart-notes">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <app-chart data="relacaoRevisaoFichas" type="column" title="Timeline de incidentes" x-axis="% de revisão" y-axis="Incidentes" notes="asdoikqokwleqwk"></app-chart>
    </div>
    <div class="col-sm-4">
        <app-chart data="relacaoRevisaoIncidentes" type="column" title="Timeline de incidentes" x-axis="% de revisão" y-axis="Incidentes" notes="asdoikqokwleqwk"></app-chart>
    </div>
</div>
